$font: 'Andika New Basic', sans-serif;

//Colors
$white: #fff;
$black: #000;
$dark: #1d2225;
$highlight: #59a4c3;
$blush: #fff0f5;
$alt-orange: #f7a42e;

html,
body {
    font-family: $font;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: $dark;
}

h1 {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 0 40px 0;
    color: $dark;
}

.wrapper {
    width: 100%;
    min-width: 1280px;
    @media(max-width: 1440px){
        min-width: 1280px;
    }
    @media(max-width: 1280px){
        width: 976px;
        min-width: 976px;
    }
    @media(max-width: 976px){
        width: 768px;
        min-width: 768px;
    }
    @media(max-width: 360px){
        width: 360px;
        min-width: 360px;
    }
}

// Banner

.banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    background-image: url(../images/banner2_crop.png);
    box-shadow: inset 0 -30em 100px -30px rgba(0,0,0,.3);
    @media(max-width: 360px){
        height: 640px;
        background-image: url(../images/banner2_mobvert.png);
    }
    .row {
        position: relative;
        transform: translateY(40%);
        width: 90%;
        padding: 20px;
        @media(max-width: 360px){
            width: 360px;
        }
        h2 {
            margin: 0;
            padding: 0;
            font-size: 2.5rem;
            line-height: 1.3em;
            color: $white;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            @media(max-width: 1440px){
                font-size: 2rem;
            }
            @media(max-width: 360px){
                font-size: 1.8rem;
            }
        }
        h3 {
            margin: 0;
            padding: 0;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.3em;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            @media(max-width: 1440px){
                font-size: 2rem;
            }
            @media(max-width: 360px){
                font-size: 1.4rem;
            }
        }
        ul {
            list-style: none;
            line-height: 1.5em;
            font-size: 2rem;
            color: $white;
            @media(max-width: 360px){
                font-size: 1.2rem;
            }
        }
        ul li:before {
            content: '✓ ';
          }

    }
}

// Highlight

.highlight {
    height: 80px;
    background-color: $alt-orange;
    text-align: center;
    h3 {
        margin: 0;
        color: $white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        letter-spacing: 1.75px;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 500;
        @media(max-width: 360px){
            font-size: 1.2rem;
            width: 300px;
            margin: 0 auto;
        }
    }
}

// Content Area

.content-wrapper {
    background-color: $white;
}

// Pitch
.pitch {
    text-align: center;
    padding-top: 60px;
    @media(max-width: 360px){
        padding: 30px;
    }
    h1 {
        line-height: 1;
        margin-bottom: 40px;
        font-size: 2rem;
        font-weight: 700;
        color: $dark;
        @media(max-width: 360px){
            font-size: 1.2rem;
            width: 300px;
            text-align: center;
            margin: 0 auto;
        }
    }
}

// Products & Customers

.inner-wrapper {
    padding: 48px 160px;
    position: relative;
    background-image: url(../images/content-bg.png);
    @media(max-width: 360px){
        padding: 20px 40px;
    }
    .products {
        display: flex;
        justify-content: space-between;
        align-items: left;
        background-color: white;
        width: 60%;
        padding: 20px;
        box-shadow: 0 0 40px rgba(0,0,0,0.15);
        @media(max-width: 360px){
            width: initial;
        }
        .content {
            width: 50%;
            h1 {
                text-align: left;
                font-size: 1.4rem;
            }
            p{
                font-size: 1.2rem;
                letter-spacing: 1.75px;
                text-transform: uppercase;
                line-height: 1.5rem;
                font-weight: 700;
                margin: 20px 0 0 0;
                color: $dark;
            }
            ul{
                list-style-type: square;
                letter-spacing: 1.75px;
                text-transform: uppercase;
                font-size: 0.75rem;
                line-height: 1.3rem;
                li {
                    margin-bottom: 5px;
                }
            }
        }
        .prod-img{
            width: 78px;
            height: 91px;
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(90%);
            @media(max-width: 360px){
                transform: translateY(120%)
            }
        }
    }
    .customers {
        display: flex;
        justify-content: space-between;
        align-items: right;
        margin-top: 80px;
        background-color: white;
        width: 60%;
        padding: 20px;
        box-shadow: 0 0 40px rgba(0,0,0,0.15);
        transform: translateX(50%);
        @media(max-width: 360px){
            transform: translateX(0%);
            width: initial;
        }
        .cust-img {
            width: 91px;
            height: 91px;
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(25%)
        }
        .cust-content {
            width: 50%;
            @media(max-width: 360px){
                width: initial;
            }
            h1 {
                text-align: left;
                color: $dark;
                @media(max-width: 360px){
                    font-size: 1.4rem;
                    margin-bottom: 0px;
                }
            }
            ul {
                display: flex;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 300;
                margin: 20px 0 0 0;
                list-style: none;
                padding-left: 0;
                li {
                    margin: 0 20px;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    @media(max-width: 360px){
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}



// About

.about {
    padding: 80px;
    position: relative;
    @media(max-width: 360px){
        padding: 40px;
    }
    .inner-about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 360px){
            display: block;
        }
        .content {
            width: 33%;
            @media(max-width: 1440px){
                width: 40%;
            }
            @media(max-width: 360px){
                width: 100%;
            }
            .about-title {
                text-align: center;
            }
            p {
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 300;
                margin: 20px 0 0 0;
            }
            ul {
                list-style-type: square;
            }
        }
        .about-img {
            width: 536px;
            height: 422px;
            margin: 0 auto;
            background-image: url(../images/about.jpg);
            @media(max-width: 360px){
                width: initial;
                background-image: url(../images/about_crop.jpg);
            }
        }
    }
}

// Footer

footer {
    margin-top: 2rem;
    background-color: $dark;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    p {
        margin: 0;
        padding: 40px 20px 40px;
        color: $white;
        a {
            text-decoration: none;
            color: $white;
        }
    }
}