// Products

.inner-wrapper {
    padding: 48px 160px;
    position: relative;
    background-image: url(../../images/content-bg.png);
    @media(max-width: 768px){
        padding: 48px 80px;
    }
    @media(max-width: 480px){
        padding: 0;
        background-color: #fff;
        background-image: none;
    }
    .product {
        display: flex;
        justify-content: space-between;
        align-items: left;
        width: 60%;
        padding: 20px;
        @media(max-width: 768px){
            width: initial;
            display: block;
            box-shadow: none;
        }
        .prod-img{
            width: max-content;
            height: max-content;
            margin: 0 auto;
            position: relative;
            top: 50%;
            display: flex;
            ul {
                list-style-type:none;
                p{
                    display: inline-block;
                    margin: 0 10px;
                    padding: 5% 0;
                    font-weight: 500;
                    font-size: 1.1rem;
                    list-style-type: square;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    line-height: 1.3rem;
                    text-shadow: 1px 1px rgba(97,97,97,.6);
                    font-style: italic;
                    @media(max-width: 480px){
                        width: 300px;
                    }
                }
            }
        }
    }
}